.reviews {
  padding-bottom: 71px;
  display: flex;
  justify-content: center;
  &-item {
    display: flex;
    justify-content: space-between;
    width: 881px;
    &__info {
      width: 650px;
    }

    &__name {
      color: #0d0d0d;
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    &__status {
      display: block;
      margin-bottom: 19px;
      color: #646464;
      font-size: 14px;
      line-height: 14px;
      font-weight: 300;
    }

    &__text {
      margin-bottom: 0;
      color: #0d0d0d;
      font-size: 16px;
      font-weight: 300;
    }
  }

  &__line {
    margin-top: 48px;
    margin-bottom: 53px;
    border-bottom: none;
    background-color: #f6f6f6;
  }
}